/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
  background-color: var(--body-color);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* 字体图标样式 */
.iconfont::before {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 1.3rem;
}
/* svg 字体图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

path {
  fill: unset;
}

svg {
  fill: currentColor;
}

/* 主题按钮样式 */
a.button {
  display: inline-block;
}
a.button,
button {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1rem;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
a.button i,
a.button span,
button i,
button span {
  margin-left: 0.25rem;
  color: #ffffff;
  background-color: var(--c-primary);
}

a.button.large,
button.large {
  padding: 1rem;
}
a.button,
button {
  padding: 0.3rem;
}
a.button.primary,
button.primary {
  border-color: var(--c-primary);
  background-color: var(--c-primary);
}
a.button.primary:hover,
button.primary:hover,
a.button.primary:hover i,
a.button.primary:hover span,
button.primary:hover i,
button.primary:hover span {
  border-color: var(--c-primary-600);
  background-color: var(--c-primary-600);
}
