@font-face {
  font-family: "iconfont"; /* Project id 3946484 */
  src: url('iconfont.woff2?t=1678630042518') format('woff2'),
       url('iconfont.woff?t=1678630042518') format('woff'),
       url('iconfont.ttf?t=1678630042518') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e602";
}

.icon-xiangshang:before {
  content: "\e603";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-jiantou_xiangshang:before {
  content: "\eb0b";
}

.icon-_qianduankaifa:before {
  content: "\e606";
}

.icon-rili:before {
  content: "\e607";
}

.icon-jiaoyu:before {
  content: "\e661";
}

.icon-gongzuo:before {
  content: "\e656";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-HTML:before {
  content: "\e706";
}

.icon-js:before {
  content: "\f1db";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-vuex-store:before {
  content: "\e6bb";
}

.icon-nodejsNodejsxingnengpingtai:before {
  content: "\e634";
}

.icon-less:before {
  content: "\ec0e";
}

.icon-jia:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-github:before {
  content: "\ead8";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-fanyi:before {
  content: "\e6ba";
}

.icon-youjian:before {
  content: "\e63a";
}

.icon-yueliang:before {
  content: "\e63e";
}

.icon-shubiao:before {
  content: "\e650";
}

.icon-lianxiwomen:before {
  content: "\e617";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-arrowLeft-fill:before {
  content: "\e65d";
}

.icon-Arrow-Small:before {
  content: "\e72e";
}

